:root {
    --bs-font-sans-serif: "Roboto", sans-serif;
    --bs-body-font-family: "Roboto", sans-serif;
}

body {
    font-family: "Roboto", sans-serif;
}

input, select, textarea, button {
    font-family: inherit;
}

.navbar {
    background-color: #477aaf;
}

section {
    width: 100%;
}

h2{
    font-weight: bold;
}