#jumbotronSection {
    background-image: url("../../imgs/j2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hotelCarousel img {
    height: 550px;
    object-fit: cover;
}

@media (max-width: 768px) {
    #hotelCarousel img {
        height: 280px;
    }
}
